<%- include("../partials/head.ejs")%>

     <body>
          <%- include("../partials/header.ejs")%>
               <link rel="stylesheet" href="/css/index.css">
               </head>

               <main>
                    <section class="common-category">
                         <% generosAll.forEach(genero=> { %>
                              <h2>
                                   <%= genero.name %>
                              </h2>
                              <% movies.forEach(movie=> { %>
                              <% if(genero.name == movie.genres.name){%>
                              <div class="carousel-common-category-cards">

                                   <div class="product-common-card">
                                        <a href="/products/productDetail/<%= movie.id %>">
                                             <img src="<%= movie.image %>"
                                                  alt="A landscape poster of the movie <%= movie.name %>"
                                                  class="image-common-card"></a>
                                   </div>

                              </div>
                              <% } %>

                              <% }); %>

                              <% }) %>
                    </section>
               </main>




               <%- include("../partials/footer.ejs")%>

     </body>

     </html>