<%- include("../partials/head.ejs")%>

     <body>
          <%- include("../partials/header.ejs")%>
               <link rel="stylesheet" href="/css/index.css">
               </head>

               <main>
                    <section class="common-category">
                         <% for(genero of generos) { %>
                              <h2>
                                   <%= genero %>
                              </h2>
                              <div class="carousel-common-category-cards">
                                   <% const peliculaGeneros=peliculas.filter((pelicula)=> pelicula.genero ===
                                        genero) %>
                                        <% for(pelicula of peliculaGeneros) { %>
                                             <div class="product-common-card">
                                                  <img src="<%= pelicula.imagen %>"
                                                       alt="A landscape poster of the movie <%= pelicula.nombre %>"
                                                       class="image-common-card">
                                             </div>
                                             <% } %>
                              </div>
                              <% } %>
                    </section>
               </main>




               <%- include("../partials/footer.ejs")%>

     </body>

     </html>