<%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="/css/createProducts.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.6.0/validator.min.js"></script>
    <script src="/js/validatorProduct.js"></script>
    </head>

    <body>
        <!-- Inicia la zona de header -->
        <%- include("../partials/header.ejs")%>

            <!-- Inicia la zona de main -->

            <!-- Formulario Creacion -->
            <div class="container registro-cont">
                <div class="registro">
                    <div class="form">
                        <a href="/home"><img src="/images/logo-white.svg" class="logo-w"></a>
                        <h3 class="titulo-form">Nueva Pelicula</h3>
                        <div class="formulario">
                            <form action="/admin/createProducts" method="POST" class="create-form"
                                enctype="multipart/form-data" id="product-form">
                                <div class="control-formulario">
                                    <label>Titulo:</label>
                                    <input type="text" name="nombre" class="control"
                                        placeholder="Escribe aquí el titulo" autofocus id="nombre"
                                        value="<%= locals.old ? old.nombre : null %>">
                                    <% if (locals.errors && errors.nombre) {%>
                                        <h3 class="feedback">
                                            <%= errors.nombre.msg %>
                                        </h3>
                                        <% } %>
                                </div>
                                <div class="control-formulario">
                                    <label>Duracion:</label>
                                    <input type="text" name="duracion" class="control"
                                        placeholder="Formato horas (h) y minutos (m)"
                                        value="<%= locals.old ? old.duracion : null %>">
                                    <% if (locals.errors && errors.duracion) {%>
                                        <h3 class="feedback">
                                            <%= errors.duracion.msg %>
                                        </h3>
                                        <% } %>
                                </div>
                                <div class="control-formulario">
                                    <label>Año:</label>
                                    <input type="text" name="year" class="control" placeholder="Escribe aquí el año"
                                        value="<%= locals.old ? old.year : null %>">
                                    <% if (locals.errors && errors.year) {%>
                                        <h3 class="feedback">
                                            <%= errors.year.msg %>
                                        </h3>
                                        <% } %>
                                </div>
                                <div class="control-formulario">
                                    <label id="clasificacionEdad">Clasificacion Edad:</label>
                                    <select name="clasificacionEdad" id="">
                                        <option value="" selected>- Selecciona Clasificacion - </option>
                                        <% allClassification.forEach(clasif=> { %>
                                            <option value="<%= clasif.id %>">
                                                <%= clasif.name %>
                                            </option>
                                            <% });%>
                                    </select>
                                    <% if (locals.errors && errors.clasificacionEdad) {%>
                                        <h3 class="feedback">
                                            <%= errors.clasificacionEdad.msg %>
                                        </h3>
                                        <% } %>
                                </div>
                                <div class="control-formulario">
                                    <label>Descripcion:</label>
                                    <input name="descripcion" class="control" placeholder="Escribe aquí la descripcion"
                                        value="<%= locals.old ? old.descripcion : null %>">
                                    <% if (locals.errors && errors.descripcion) {%>
                                        <h3 class="feedback">
                                            <%= errors.descripcion.msg %>
                                        </h3>
                                        <% } %>
                                </div>
                                <div class="control-formulario">
                                    <label>Advertencia Contenido:</label>
                                    <input type="text" name="advertenciaContenido" class="control"
                                        placeholder="escenas de sexo, escenas de tortura, lenguaje explicito">
                                </div>
                                <div class="control-formulario">
                                    <label>Director:</label>
                                    <input type="text" name="director" class="control"
                                        placeholder="Escribe aquí el director">
                                </div>
                                <div class="control-formulario">
                                    <label>Reparto:</label>
                                    <input type="text" name="reparto" class="control"
                                        placeholder="Maximo 3 separado por comas">
                                </div>
                                <div class="control-formulario">
                                    <label>Estudio:</label>
                                    <input type="text" name="estudio" class="control"
                                        placeholder="Escribe aquí el estudio">
                                </div>
                                <div class="control-formulario">
                                    <label>Subtitulos:</label>
                                    <input type="text" name="subtitulos" class="control"
                                        placeholder="Escribe aquí los subtitulos">
                                </div>
                                <div class="control-formulario">
                                    <label>Precio:</label>
                                    <input type="number" name="precio" class="control"
                                        placeholder="Escribe aquí el precio"
                                        value="<%= locals.old ? old.precio : null %>">
                                    <% if (locals.errors && errors.precio) {%>
                                        <h3 class="feedback">
                                            <%= errors.precio.msg %>
                                        </h3>
                                        <% } %>
                                </div>
                                <div class="control-formulario">
                                    <label>Imagen:</label>
                                    <input type="file" name="imagen" class="control" title="Ingresa una imagen válida"
                                        value="<%= locals.old ? old.imagen : null %>">
                                    <% if (locals.errors && errors.imagen) {%>
                                        <h3 class="feedback">
                                            <%= errors.imagen.msg %>
                                        </h3>
                                        <% } %>
                                </div>
                                <div class="control-formulario">
                                    <label id="genero">Genero:</label>
                                    <select name="genero" id="">
                                        <option value="" selected>- Selecciona Genero - </option>
                                        <% allGenres.forEach(genre=> { %>
                                            <option value="<%= genre.id %>">
                                                <%= genre.name %>
                                            </option>
                                            <% });%>
                                    </select>
                                    <% if (locals.errors && errors.genero) {%>
                                        <h3 class="feedback">
                                            <%= errors.genero.msg %>
                                        </h3>
                                        <% } %>
                                </div>
                                <div class="control-formulario">
                                    <div class="container botones">
                                        <button type="reset" class="boton-formulario" id="reset">Borrar</button>
                                        <button type="submit" class="boton-formulario" id="submit">Enviar</button>
                                    </div>
                                </div>
                                <div class="error-list"></div>
                            </form>
                    </div>
                </div>
            </div>

            <!-- termina  la zona de main -->
            <!-- Inicia la zona de footer -->
            <%- include("../partials/footer.ejs")%>
    </body>

    </html>
