<%- include("../partials/head.ejs")%>
     <link rel="stylesheet" href="/css/admin.css">
     <link rel="stylesheet" href="/css/userList.css">
     <title>Lista de Usuarios</title>
     </head>

     <body>

          <%- include("../partials/header.ejs")%>

               <!-- <header>
          <div class="top-bar">
               <a href="#"><i class="fa-solid fa-bars"></i></a>
               <a href="/admin/index"><img src="/images/logo-white.svg" class="logo"></a>
          </div>
          <div class="header-desktop">
               <a href="/admin/index"><img src="/images/logo-white.svg" class="logo"></a>
               <div class="container-right">
                    <p>Bienvenid@, Usuario</p>
                    <form action="/">
                         <button type="submit" class="translucent-btn" id="submit">Cerrar sesión</button>
                    </form>
               </div>
          </div>
     </header> 
-->
               <main class="main-userList">
                    <div class="list-container">
                         <div class="container-top">
                              <div class="back-and-title">
                                   <a href="/admin/index"><i class="fa-solid fa-arrow-left"></i></a>
                                   <p>Usuarios</p>
                              </div>

                              <a href="/admin/userCreate"><button type="submit" id="new-product"
                                        class="button-add">Agregar
                                        usuario</button></a>
                         </div>

                         <div class="user-list">
                              <div class="checkbox-group">
                                   <input type="checkbox" name="select-all" value="select-all">
                                   <label for="select-all">Seleccionar todos los usuarios</label>
                              </div>

                              <div class="items-list">
                                   <% for (let i=0; i < users.length; i++) { %>
                                        <div class="user-item">
                                             <div class="input-and-user">
                                                  <input type="checkbox" name="select-all" value="select-all">
                                                  <div class="user-and-avatar">
                                                       <img class="avatar" src="<%= users[i].image %>">

                                                       <div class="user-and-rol">
                                                            <p>
                                                                 <%= users[i].name %>
                                                            </p>
                                                            <% allRoles.forEach(rol=> { %>
                                                                 <% if (users[i].roleId==rol.id) { %>
                                                                      <span>
                                                                           <%= rol.name %>
                                                                      </span>
                                                                      <% }; %>
                                                                           <% }); %>

                                                       </div>
                                                  </div>
                                             </div>

                                             <div class="icon-btns">
                                                  <a href="/admin/userDetail/<%= users[i].id %>"><i
                                                            class="fa-solid fa-newspaper"></i></a>
                                                  <a href="/admin/userEdit/<%= users[i].id %>"><i
                                                            class="fa-solid fa-pen"></i></a>
                                                  <a href="/admin/userDelete/<%= users[i].id %>"><i
                                                            class="fa-solid fa-trash"></i></a>
                                             </div>
                                        </div>

                                        <% } %>
                              </div>
                         </div>

                    </div>
               </main>

               <%- include("../partials/footer.ejs")%>
     </body>

     </html>