<%- include("../partials/head.ejs")%>

     <body background="/images/fondo.jpg">
          <!-- Inicia la zona de header -->
          <%- include("../partials/header.ejs")%>
               <link rel="stylesheet" href="/css/register.css">
               </head>

               <!-- Formulario Registro -->
               <conteiner class="registro-cont">
                    <div class="registro">
                         <div class="form">
                              <a href="/home"><img src="/images/logo-white.svg" class="logo-w"></a>
                              <h3 class="titulo-form">Ingresa</h3>
                              <div class="formulario">
                                   <form action="#" method="POST" class="create-form">
                                        <% if (locals.errors && errors.credenciales) { %>
                                             <div class="text-danger">
                                                  <%= errors.credenciales.msg %>
                                             </div>
                                             <% } %>
                                                  <div class="control-formulario">
                                                       <label>Correo Electrónico:</label>
                                                       <input type="email" name="correo" class="control"
                                                            placeholder="Escribe aquí tu correo" required
                                                            value="<%= locals.oldData ? oldData.correo : null %>">
                                                  </div>
                                                  <% if (locals.errors && errors.correo) { %>
                                                       <div class="text-danger">
                                                            <%= errors.correo.msg %>
                                                       </div>
                                                       <% } %>
                                                            <div class="control-formulario">
                                                                 <label>Contraseña:</label>
                                                                 <input type="password" name="password" class="control"
                                                                      placeholder="Escribe aquí tu contraseña"
                                                                      title="Ingresa una contraseña válida" required>
                                                            </div>
                                                            <% if (locals.errors && errors.password) { %>
                                                                 <div class="text-danger">
                                                                      <%= errors.password.msg %>
                                                                 </div>
                                                                 <% } %>
                                                                      <section class="usuario">
                                                                           <label>Recordar
                                                                                Usuario<input type="checkbox"
                                                                                     name="preservar"
                                                                                     id="preservar"></label>
                                                                      </section>
                              </div>
                              <div class="control-formulario">
                                   <conteiner class="botones">
                                        <button type="reset" class="boton-formulario" id="reset">Borrar</button>
                                        <button type="submit" class="boton-formulario" id="submit">Enviar</button>
                                   </conteiner>
                              </div>
                              <label>¿Ya tienes una cuenta? <a href="/users/login">Ingresa aquí</a></label>
                              </form>

                         </div>
                    </div>
               </conteiner>
               <!-- Termina la zona de formulario -->
               <!-- Inicia la zona de footer -->
               <%- include("../partials/footer.ejs")%>
                    <!-- Aqui termina la seccion Footer -->
     </body>

     </html>