<%- include("../partials/head.ejs")%>

     <body background="/images/fondo.jpg">
          <!-- Inicia la zona de header -->
          <%- include("../partials/header.ejs")%>
               <link rel="stylesheet" href="/css/register.css">
               </head>

               <!-- Formulario Registro -->
               <div class="container registro-cont">
                    <div class="registro">
                         <div class="form">
                              <a href="/home"><img src="/images/logo-white.svg" class="logo-w"></a>
                              <h3 class="titulo-form">Regístrate</h3>
                              <div class="formulario">
                                   <form action="/users/register" method="POST" class="create-form"
                                        enctype="multipart/form-data">
                                        <div class="control-formulario">
                                             <label>Nombre:</label>
                                             <input type="text" name="nombre" class="control"
                                                  placeholder="Escribe aquí tu nombre" <%=locals.errors && errors.nombre
                                                  ? 'is-invalid' : null %>"
                                             value="<%= locals.oldData ? oldData.nombre : null %>">
                                                  <% if (locals.errors && errors.nombre) { %>
                                                       <div class="text-danger">
                                                            <%= errors.nombre.msg %>
                                                       </div>
                                                       <% } %>
                                        </div>
                                        <div class="control-formulario">
                                             <label>Correo Electrónico:</label>
                                             <input type="email" name="correo" class="control"
                                                  placeholder="Escribe aquí tu correo" <%=locals.errors && errors.correo
                                                  ? 'is-invalid' : null %>"
                                             value="<%= locals.oldData ? oldData.correo : null %>">
                                                  <% if (locals.errors && errors.correo) { %>
                                                       <div class="text-danger">
                                                            <%= errors.correo.msg %>
                                                       </div>
                                                       <% } %>
                                        </div>
                                        <div class="control-formulario">
                                             <label>Contraseña:</label>
                                             <input type="password" name="password" class="control"
                                                  placeholder="Escribe aquí tu contraseña" minlength="8"
                                                  <%=locals.errors && errors.password ? 'is-invalid' : null %>"
                                             value="<%= locals.oldData ? oldData.password : null %>">
                                                  <% if (locals.errors && errors.password) { %>
                                                       <div class="text-danger">
                                                            <%= errors.password.msg %>
                                                       </div>
                                                       <% } %>
                                        </div>
                                        <div class="control-formulario">
                                             <label>Confirmar contraseña:</label>
                                             <input type="password" name="conpassword" class="control"
                                                  placeholder="Escribe nuevamente tu contraseña" minlength="8"
                                                  <%=locals.errors && errors.conpassword ? 'is-invalid' : null %>"
                                             value="<%= locals.oldData ? oldData.conpassword : null %>">
                                                  <% if (locals.errors && errors.conpassword) { %>
                                                       <div class="text-danger">
                                                            <%= errors.conpassword.msg %>
                                                       </div>
                                                       <% } %>
                                        </div>
                                        <div class="control-formulario">
                                             <label>Imagen:</label>
                                             <input type="file" name="imagen" class="control"
                                                  title="Ingresa una imagen válida" <%=locals.errors && errors.imagen
                                                  ? 'is-invalid' : null %>">
                                             <% if (locals.errors && errors.imagen) { %>
                                                  <div class="text-danger">
                                                       <%= errors.imagen.msg %>
                                                  </div>
                                                  <% } %>
                                        </div>
                              </div>
                              <div class="control-formulario">
                                   <div class="container botones">
                                        <button type="reset" class="boton-formulario" id="reset">Borrar</button>
                                        <button type="submit" class="boton-formulario" id="submit">Enviar</button>
                                   </div>
                              </div>
                              <label>¿Ya tienes una cuenta? <a href="/users/login">Ingresa aquí</a></label>
                              </form>

                         </div>
                    </div>
               </div>
               <!-- Aqui inicia la seccion Footer -->
               <!-- Escribir aqui el codigo de  la seccion Footer -->
               <%- include("../partials/footer.ejs")%>
                    <!-- Aqui termina la seccion Footer -->
     </body>

     </html>