<%- include("../partials/head.ejs")%>
     <link rel="stylesheet" href="/css/userDetail.css">
     </head>

     <body>
          <%- include("../partials/header.ejs")%>

               <main class="main-userDetail">
                    <div class="user-description">
                         <div class="brief-description">
                              <span>
                                   Nombre De Usuario : <%= user.name %>
                              </span>
                         </div>
                         <% if(user.image.trim.length) { %>
                              <div class="brief-description">
                                   <span>
                                        Foto De Usuario :
                                        <img src=<%=user.image %>
                                        alt="A full-width image of the user <%= user.name %>" class="user-image">
                                   </span>
                              </div>
                              <% } %>
                                   <div class="brief-description">
                                        <span>
                                             Correo Electrónico : <%= user.mail %>
                                        </span>
                                   </div>
                                   <div class="brief-description">
                                        <span>
                                             Rol De Usuario : <%= user.roles.name %>
                                        </span>
                                   </div>
                    </div>

               </main>

               <%- include("../partials/footer.ejs")%>
     </body>

     </html>